allow recovery bootchart_data_file:dir { getattr open read };
allow recovery logpersistd_logging_prop:file open;
allow recovery mmc_prop:file { getattr open };
allow recovery postinstall_mnt_dir:dir getattr;
allow recovery safemode_prop:file { getattr open };
allow recovery selinuxfs:file write;
allow recovery system_data_file:file open;
allow recovery system_prop:property_service set;
allow recovery system_radio_prop:property_service set;
allow recovery unencrypted_data_file:dir getattr;
allow recovery vold_prop:property_service set;
